<?php

require_once(__DIR__.'/../controller/SeriesController.php');

$sid = $_GET['s'];


$cnt = new SeriesController();
$serie = $cnt->deleteSerie($sid);

?><html>
	<head><title>Deleted serie</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$serie->getTitle()?> deleted</h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>