<?php

require_once(__DIR__.'/../../controller/SeriesController.php');
require_once(__DIR__.'/../../controller/SeasonsController.php');

$year = $_POST['syear'];
$nchap = $_POST['snchap'];
$seas = $_POST['sseason'];
$serieid = $_POST['sid'];

$cnt2 = new SeasonsController();
$cnt2->createSeason($year, $nchap, $seas, $serieid);

$cnt = new SeriesController();
$serie = $cnt->getSerie($sid);

$seasons = $cnt2->getSeasonsBySerie($sid);

?><html>
	<head><title>Serie's detail</title></head>
	<body>
		<div id="wrapper">
			<h1>New season added to <?=$serie->getTitle()?></h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>