<?php

require_once(__DIR__.'/../../vendor/autoload.php');
require_once(__DIR__.'/../../controller/FootballController.php');

$tname = $_POST['tname'];
$tyear = $_POST['tyear'];
$tstd = $_POST['tstd'];
$tslong = $_POST['tslong'];
$tslang = $_POST['tslang'];

$st = new Stadium($tstd, [$tslong, $tslang]);

$team = new Team($tname, $tyear, $st);
$cnt = new FootballController();
$id = $cnt->saveTeam($team);

?><html>
	<head><title>TEAM's detail</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$team->getName()?> created</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>