<?php

require_once(__DIR__.'/../../vendor/autoload.php');
require_once(__DIR__.'/../../controller/FootballController.php');

$tname = $_POST['tname'];
$tyear = $_POST['tyear'];
$tstd = $_POST['tstd'];
$tslong = $_POST['tslong'];
$tslang = $_POST['tslang'];
$tid =  $_POST['tid'];
$st = new Stadium($tstd, [$tslong, $tslang]);

$team = new Team($tname, $tyear, $st, $tid);
$cnt = new FootballController();
$oldteam = $cnt->getTeam($tid);
$upd = $cnt->updateTeam($team);

?><html>
	<head><title>TEAM's update</title></head>
	<body>
		<div id="wrapper">
			<h1><?=$oldteam->getName()?> updated</h1>
			<?php include(__DIR__.'/../../inc/d.phtml'); ?>
		</div>
	</body>
</html>