<html>
<head><title>Football Add</title></head>
<body>
  <div id="wrapper">
    <h1>Add new team</h1>
    <form action="/forms/add.phtml" method="post">
      <dl>
        <dt><label for="tname">Team Name :</label></dt>
        <dd><input type="text" name="tname" id="tname"></dd>
        <dt><label for="tyear">Team Founded :</label></dt>
        <dd><input type="text" name="tyear" id="tyear"></dd>
        <dt><label for="tstd">Stadium Name :</label></dt>
        <dd><input type="text" name="tstd" id="tstd"></dd>
        <dt><label for="tslong">Stadium GPS LONGITUDE :</label></dt>
        <dd><input type="text" name="tslong" id="tslong"></dd>
        <dt><label for="tslang">Stadium GPS LATITUDE :</label></dt>
        <dd><input type="text" name="tslang" id="tslang"></dd>
        <dd><input type="submit" name="submit" value="Add"></dd>
      </dl>
    </form>
    <a href="/index.phtml">Back to Index</a>
  </div>
</body>
</html>