<?php 

require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');

$tid = $_GET['t'];

$cnt = new FootballController();
$team = $cnt->deleteTeam($tid);

?><html>
<head><title>Team's Delete</title></head>
<body>
  <div id="wrapper">
    <h1><?=$team->getName()?> Deleted</h1>
    <dl>
      <dt>Name team</dt><dd><?=$team->getName()?></dd>
      <dt>Year team</dt><dd><?=$team->getFounded()?></dd>
      <dt>Stadium name</dt><dd><?=$team->getStadium()->getName()?></dd>
      <dt>Stadium GEO LONG</dt><dd><?=$team->getStadium()->getLoc()[0]?></dd>
      <dt>Stadium GEO LAT</dt><dd><?=$team->getStadium()->getLoc()[1]?></dd>
    </dl>
    <a href="/index.phtml">Back to Index</a>
  </div>
</body>
</html>