<?php
require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');


$tid = $_GET['t'];


$cnt = new FootballController();
$team = $cnt->getTeam($tid); 

?><html>
	<head><title>Team's detail</title></head>
	<body>
		<div id="wrapper">
			<h1>Details of <?=$team->getName()?></h1>
			<?php include(__DIR__.'/../inc/d.phtml'); ?>
		</div>
	</body>
</html>