<?php

require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');

$cnt = new FootballController();
$teams = $cnt->getTeams();

?><html>
	<head>
		<title>Football Teams</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>Team list</h1>
			<h2><a href="/add.phtml">ADD TEAM</a></h2>
			<dl>
				<?php foreach($teams as $t){ ?>
				<dt><?=$t->getName()?></dt>
				<dt><?=$t->getTid()?></dt>
				<span><a href="/details.phtml?t=<?=$t->getTid()?>">Details</a></span>
				<span><a href="/modify.phtml?t=<?=$t->getTid()?>">Modify</a></span>
				<span><a href="/delete.phtml?t=<?=$t->getTid()?>">Delete</a></span>
				<?php } ?>
			</dl>
		</div>
	</body>
</html>