<?php 
require_once(__DIR__.'/../vendor/autoload.php');
require_once(__DIR__.'/../controller/FootballController.php');

$tid = $_GET['t'];

$cnt = new FootballController();
$team = $cnt->getTeam($tid);

?><html>
<head><title>Football Update</title></head>
<body>
  <div id="wrapper">
    <h1>Update team</h1>
    <form action="/forms/modify.phtml" method="post">
      <dl>
        <dt><label for="tname">Team Name :</label></dt>
        <dd><input type="text" name="tname" id="tname" value="<?=$team->getName()?>"></dd>
        <dt><label for="tyear">Team Founded :</label></dt>
        <dd><input type="text" name="tyear" id="tyear" value="<?=$team->getFounded()?>"></dd>
        <dt><label for="tstd">Stadium Name :</label></dt>
        <dd><input type="text" name="tstd" id="tstd" value="<?=$team->getStadium()->getName()?>"></dd>
        <dt><label for="tslong">Stadium GPS LONGITUDE :</label></dt>
        <dd><input type="text" name="tslong" id="tslong" value="<?=$team->getStadium()->getLoc()[0]?>"></dd>
        <dt><label for="tslang">Stadium GPS LATITUDE :</label></dt>
        <dd><input type="text" name="tslang" id="tslang" value="<?=$team->getStadium()->getLoc()[1]?>"></dd>

        <input type="hidden" name="tid" value="<?=$team->getTid()?>"/>
        <dd><input type="submit" name="submit" value="Add"></dd>
      </dl>
    </form>
    <a href="/index.phtml">Back to Index</a>
  </div>
</body>
</html>