<dl>
	<dt>Team Name :</dt><dd><?=$team->getName()?></dd>
	<dt>Team Founded :</dt><dd><?=$team->getFounded()?></dd>
  <dt>Stadium Name :</dt><dd><?=$team->getStadium()->getName()?></dd>
  <dt>Stadium GPS LONGITUDE :</dt><dd><?=$team->getStadium()->getLoc()[0]?></dd>
  <dt>Stadium GPS LATITUDE :</dt><dd><?=$team->getStadium()->getLoc()[1]?></dd>
</dl>
<a href="/index.phtml">Back to Index</a>