<dl>
	<dt>Title</dt><dd><?=$serie->getTitle()?></dd>
	<dt>Year</dt><dd><?=$serie->getYear()?></dd>
	<dt>Major</dt><dd><?=$serie->getMajor()?></dd>
	<dt>Seasons</dt><dd><?=$serie->getNseasons()?></dd>
	<dd><a href="/seasons/addseason.phtml?serie=<?=$serie->getSid()?>">Add season</a></dd>
</dl>
<hr/>
<dl>
	<?php foreach($seasons as $season){ ?>
	<dt><?=$season->getYear()?></dt>
	<dd><?=$season->getNchapters()?></dd>
	<dd><a href="/seasons/details.phtml?season=<?=$season->getIdseason()?>">Details</a></dd>
	<dd><a href="/seasons/modifyseason.phtml?season=<?=$season->getIdseason()?>">Update</a></dd>
	<?php } ?>
</dl>
<hr/>
<?php if($seasons!=null){?>
<section id="seasonslistarray">
				<?php foreach($seasons as $season){ ?>
				<article class="seasondesc">
					<?php $seasonsarray = $season->toArray();?>
					<span><?=json_encode($seasonsarray);?></span>
				</article>
				<?php } ?>
			</section>
<?php } ?>
<a href="/">Back to index</a>